.reviewBorderLine {
    background-color: transparent;
    display: block;
    height: 0px;
    border-width: 0px;
    border-top: 1px solid #e7e7e7;
    line-height: 19px;
    margin-top: 0px;
}

.leftReviewGrid{
    width: 300px;
    float: left;
    margin-left: -300px;
    font-family: Roboto, Lato, "Pt Sans";
}

.reviewGrid{
    position: relative;
    padding-left: 300px;
    font-family: Roboto, Lato, "Pt Sans";
}

.rightReviewGrid{
    padding-left: 2.5%;
    float: left;
    font-family: Roboto, Lato, "Pt Sans";
}

.averageStars{
    height: 21px;
    width: 95px;
}


.averageReviewsStarArea{
    padding-top: 6px;
    margin-top: 0px;
    margin-bottom:18px;
}

.averageReviewStarBorder{
    display: inline-block;
    width: 105px;
    height: 22px;
}

.averageReviewsStarText{
    display: inline-block;
    font-family: Roboto, Lato, "Pt Sans";
    font-size: 13px;
    line-height: 19px;
    margin-left: 10px
}

.reviewMenuHeader{
    font-weight: 700;
    font-size: 21px;
    line-height: 1.3;
    color: #111;
    padding:  0px;
}

.reviewRatingBars{
    width: 280px;
    border-spacing: 0px;
}

.outerRatingBar{
    border-radius: 1px;
    box-shadow: inset 0 1px 2px rgba(0,0,0,.4), inset 0 0 0 1px rgba(0,0,0,.1);
    overflow: hidden;
    background: #f2f2f2;
    background: -webkit-linear-gradient(top,#eee,#f6f6f6);
    background: linear-gradient(to bottom,#eee,#f6f6f6);
    background-color: #f3f3f3;
    height: 17px;   
    width: 196px;
}
.ratingBarCell{
    vertical-align: top;
    padding-top: 0px;
    padding-left:3px;
    padding-right:3px;
    height:19px;
    width: 196px;
    display: inline-block;
}

.innerRatingBar{
    border-radius: 1px;
    box-shadow: inset 0 0 0 1px rgba(0,0,0,.25), inset 0 -1px 0 rgba(0,0,0,.05);
    background: #fb0;
    background: -webkit-linear-gradient(top,#ffce00,#ffa700);
    background: linear-gradient(to bottom,#ffce00,#ffa700);
    background-color: #ffce00;
    height: 100%;
}

.reviewBarWrapper{
    width: 280px;
    height: 21px;
    padding: 1px 3px;
    padding-top: 2px;
    border-collapse: collapse;
    cursor: pointer;
}

.ratingBarLeftTextBox{
    display: inline-block;
    vertical-align: top;
    white-space: nowrap;
    padding-right: 3px;
    padding-bottom: 1px;
    width:39px;
    height:19px;
}

.ratingBarLeftText{
    text-decoration: none;
    color: #0066c0;
    font-size: 13px;
    line-height: 19px;
    width: 33.31px;
    height: 16px;
    font-family: Roboto, Lato, "Pt Sans";
}

.ratingBarRightTextBox{
    display: inline-block;
    vertical-align: top;
    text-align: right;
    white-space: nowrap;
    padding-right: 0;
    padding-left: 3px;
    padding-bottom: 1px;
    width: 33px;
    height: 19px;
}

.ratingBarRightText{
    color: #555;
    font-family: Roboto, Lato, "Pt Sans";
    height: 16px;
    line-height: 19px;
    font-size: 13px;
}
.ratingBarRightText:hover {
    text-decoration: underline;
    color: #c45500!important;
}
.ratingBarLeftText:hover {
    text-decoration: underline;
    color: #c45500!important;
}

.addReviewHeader{
    font-weight: 700;
    font-size: 17px;
    line-height: 1.255;
    font-family: Roboto, Lato, "Pt Sans";
    margin-bottom: 4px!important;
    color: #111;
    padding-bottom: 4px;
}

.addReviewBody{
    margin-bottom: 18px!important;
    width: 100%;
    box-sizing: border-box;
    font-family: Roboto, Lato, "Pt Sans";
    display: block;
    font-size: 13px;
    color: #111;
}

.addReviewButtonOuter{
    background: #e7e9ec;
    border-radius: 3px;
    border-color: #ADB1B8 #A2A6AC #8D9096;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    display: inline-block;
    padding: 0;
    text-align: center;
    text-decoration: none!important;
    vertical-align: middle;
    width:100%;
}

.addReviewButtonInner:hover{
    border-color: #e77600;
    box-shadow: 0 0 3px 2px rgba(228,121,17,.5);
    outline: 0;
}

.addReviewButtonInner{
    display: block;
    position: relative;
    overflow: hidden;
    height: 29px;
    box-shadow: 0 1px 0 rgba(255,255,255,.6) inset;
    border-radius: 2px;
    background-color: transparent;
    color: #111;
    font-family: Roboto, Lato, "Pt Sans";
    border: 0;
    display: block;
    font-size: 13px;
    line-height: 29px;
    margin: 0;
    outline: 0;
    padding: 0 10px 0 11px;
    text-align: center;
    white-space: nowrap;
}

.addReviewButtonWrapper{
    width:300px;
}

.reviewAreaContainer{
    width:100%
}

.reviewHeaderText{
    font-weight: 700;
    font-family: Roboto, Lato, "Pt Sans";
    font-size: 13px!important;
    line-height: 19px!important;
}

.reviewSorterBox{
    background: #e7e9ec;
    border-radius: 3px;
    border-color: #ADB1B8 #A2A6AC #8D9096;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    display: inline-block;
    padding: 0;
    text-align: center;
    text-decoration: none!important;
    vertical-align: middle;
    width: 135px;
    margin-bottom: 10px;

}

.reviewSorterBox:active{
    background: #e7e9ec;
    border-radius: 3px;
    border-color: #ADB1B8 #A2A6AC #8D9096;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    display: inline-block;
    padding: 0;
    text-align: center;
    text-decoration: none!important;
    vertical-align: middle;
    width: 135px;
    margin-bottom: 10px;
    border-color: #e77600;
    box-shadow: 0 0 3px 2px rgba(228,121,17,.5);
    outline: 0;
}

.reviewSorterDropdown{
    transition: all .1s linear;
    appearance: none;
    -webkit-appearance: none;
    line-height: 19px;
    color: #111;
    cursor: default;
    position: relative;
    overflow: hidden;
    height: 20px;
    box-shadow: 0 1px 0 rgba(255,255,255,.6) inset;
    border-radius: 2px;
    color: #111;
    font-family: Roboto, Lato, "Pt Sans";
    border: 0;
    display: block;
    font-size: 13px;
    line-height: 29px;
    margin: 0;
    outline: 0;
    padding: 0 10px 0 11px;
    text-align: center;
    vertical-align: middle;
    width: 120px;
    background: transparent;
}

.reviewSortArrow{
    width: 10px;
    height: 8px;
    float: right;
    padding-right: 4px;
    padding-top: 6px;
    background: transparent;
}

.singleReviewWrapper{
    margin-bottom: 22px;
    width:100%;
    height: 230px;
}
.singleReviewUsernameAndPicture{
    display: inline-block;
    width: 100%;
    height: 34px;
    margin-bottom:6px;
}

.singleReviewUsername{
    display: inline-block;
    cursor: pointer;
    vertical-align: middle;
    text-align: center;
    height:34px;

}

.userProfilePic{
    height: 29px;
    width: 34px;
    padding-right: 9px;
}

.ratingAndTitle{
    height:19px;
    width:100%;
    display:block;
}

.singleReviewStar{
    cursor: pointer;
    height:16px;
    width:80px;
}

.singleReviewTitle{
    font-weight: 700;
    font-size: 13px;
    padding-left: 5px;
    vertical-align: top;
    height: 16px;
    cursor: pointer;
}

.singleReviewTitle:hover {
    text-decoration: underline;
    color: #c45500!important;
}

.reviewDate{
    font-size: 13px!important;
    line-height: 19px!important;
    color: #555!important;

}

.reviewVerification{
    display: inline;
    font-size: 11px!important;
    line-height: 1.465!important;
    color: #c45500!important;
    font-weight: 700!important;
}

.verificationWrapper{
    margin-bottom: 6px;
    height: 19px;
}

.reviewText{
    margin-bottom: 10px;
    width: 100%;
    font-size: 13px;
    line-height: 19px;
    color: #111;
}

.reviewTextSeparator{
    display: inline;
    font-size: 13px;
    margin-top: -2px;
    margin-right: 8.75px;
    margin-left:8.75px;
    width: 1px;
    line-height: 0;
    height: 14px;
    vertical-align: middle;
    font-style: italic;
    color: #ddd;
}

.reviewHelpful{
    margin-bottom: 10px;
    width: 100%;
    color: #767676!important;
    font-size: 13px!important;
    line-height: 19px!important;
}

.helpfulButtonOuter{
    background: #e7e9ec;
    border-radius: 3px;
    border-color: #ADB1B8 #A2A6AC #8D9096;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    display: inline-block;
    padding: 0;
    text-align: center;
    text-decoration: none!important;
    vertical-align: middle;
    width:100px;
    height: 31px;
    margin-right: 5px;
}
.helpfulButtonOuter:hover{
    border-color: #e77600;
    box-shadow: 0 0 3px 2px rgba(228,121,17,.5);
    outline: 0;
}

.helpfulButtonInner{
    display: block;
    position: relative;
    overflow: hidden;
    height: 29px;
    box-shadow: 0 1px 0 rgba(255,255,255,.6) inset;
    border-radius: 2px;
    background-color: transparent;
    color: #111;
    font-family: Roboto, Lato, "Pt Sans";
    border: 0;
    display: block;
    font-size: 13px;
    line-height: 29px;
    margin: 0;
    outline: 0;
    padding: 0 10px 0 11px;
    text-align: center;
    white-space: nowrap;
}

.singleReviewCommentReport{
    display: inline;
    color: #555;
    font-weight: 400!important;
    font-style: normal!important;
    text-transform: none!important;
    text-decoration: none!important;
    font-size: 13px!important;
    line-height: 19px!important;
}
.singleReviewCommentReport:hover{
    color: #c45500;
    cursor: pointer;
}

.seeAllReviewsWrapper{
    margin-bottom: 22px;
    font-size: 13px;
    line-height: 19px;
}
.seeAllReviews{
    font-size: 13px;
    line-height: 19px;
    text-decoration: none;
    color: #0066c0;
    font-weight: 700;
    cursor:pointer;
}

.seeAllReviews:hover{
    text-decoration: underline;
    color: #c45500;
}
